@mixin ulTags() {
    ul.selected-tags {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0 2px;
        }
    }
    ul.tags {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            a.badge {
                font-size: 100%;
            }
        }
    }
}

html, body {

}
.tab-content {
    padding-top: 20px;
}
h3.page-heading {
    position: relative;
    padding: 100px 0 20px 0;
    margin-bottom: 50px;
    background: #00e39b;
    font-weight: 700;
    color: #fff;
    text-shadow: #000 1px 1px;
}
h3.page-heading small {
    display: block;
    margin-top: 10px;
    font-size: 0.5em;
}
h3.page-heading:after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 8%;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background: #00e39b;
}

section#login-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('../images/login_background.jpg') no-repeat 50% 50%;
    background-size: cover;

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 20px;
        background: #fff;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    }
}

/* Manage all media */
#page-index {
    .container {
        padding-top: 30px;
    }
    .thumbnail {
        position: relative;
        width: 100%;
        height: 280px;
        margin-bottom: 20px;
        background-color: #dcdcdc;
        background-size: cover;
        background-position: 50% 50%;
        border: 1px solid #000;

        p {
            cursor: default;
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            padding: 5px 10px;
            margin: 0;
            color: #fff;
            text-shadow: #000 1px 1px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background: rgba(0, 0, 0, 0.5);
        }
    }
}

/*
    Create Category
 */
section#page-category-create {

    .container {

    }
}

/* Manage all media */
#page-media-index {
    .filters {
        padding: 20px;
        background: #fdfdfd;
        margin-bottom: 20px;
        border-bottom: 1px solid #dcdcdc;
    }

    .thumbnail {
        position: relative;
        width: 100%;
        height: 280px;
        margin-bottom: 20px;
        background-color: #dcdcdc;
        background-size: cover;
        background-position: 50% 50%;
        border: 1px solid #000;

        &:hover .controls {
            display: block;
        }

        .controls {
            position: absolute;
            display: none;
            top: 10px;
            left: 10px;
            right: 10px;
            text-align: right;

            a {
                display: inline-block;
                width: 30px;
                height: 30px;
                background: #fff;
                border-radius: 3px;
                color: #000;
                text-align: center;
                line-height: 30px;
                font-size: 14px;
                box-shadow: 0px 0px 15px -3px #000;
            }
        }

        p {
            cursor: default;
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            padding: 5px 10px;
            margin: 0;
            color: #fff;
            text-shadow: #000 1px 1px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background: rgba(0, 0, 0, 0.5);
        }
    }
}

/*
    Add Media
 */
section#page-media-create {
    .image-preview {
        display: none;
        margin-bottom: 20px;
        max-width: 100%;
    }
    .image-preview img {
        width: 100%;
    }
    .image-preview-visible {
        display: block;
        animation-name: image-preview;
        animation-duration: 1s;
    }
    @include ulTags();

    @keyframes image-preview {
        from {
            opacity: 0;
            filter: grayscale(100%);
        }
        to {
            opacity: 1;
            filter: grayscale(0%);
        }
    }
}

/* Add Media */
section#page-media-edit {
    .preview {
        margin-bottom: 20px;
    }
    .preview img {
        max-width: 100%;
    }
    @include ulTags();
}

/*
    Manage all tags
 */
#page-tags-index {
    .badge a {
        color: red;
    }
}


